<h1>Welcome to My Travel Site!</h1>
<p>The best travel site you've ever been to!</p>

<p><%= @homeland %></p>


<ul>
<% @countries.each do |country| %>
	<li><%= country %></li>
<% end %>
</ul>


<% @country_images.each do |picture| %>
<p>
<%= image_tag picture, alt: "different countries", class: "img-responsive" %>
</p>
<% end %>

<p>
	<%= link_to "About Us", about_path(color: "blue", size: 13, class: "btn btn-info") %> 
</p>

<p>
<%= link_to "Contact Us", contact_path %>
</p>